<div class="container mt-5">
    <h4 class="mt-5" style="text-align: center;">Todo List</h4>
    
    <ul class="list-group my-5">

        <% todo.forEach( todos => { %>
            <li class="list-group-item"><%= todos.name %></li> 
        <% }) %>
        
    </ul>
</div>

